.item-detail {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.item-detail h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007BFF;
}

.item-detail p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #6c757d;
}

.item-detail p::before {
    content: '• ';
    color: #007BFF;
}